/* Contenedor del carrusel */
.carousel-inner {
  height: 720px; /* O la altura que prefieras */
}

h2{
  text-align: center;
}

/* Aseguramos que las imágenes se ajusten correctamente */
.carousel-inner .carousel-item img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  object-fit: cover; /* Asegura que las imágenes cubran todo el contenedor sin distorsionarse */
  object-position: center; /* Centra la imagen, asegurando que siempre se recorte desde el centro */
}

/* Centramos el texto */
.carousel-caption {
  position: absolute;
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajuste para que el texto esté centrado */
  text-align: center; /* Centra el texto */
  color: white; /* Color blanco para el texto */
}
