<div class="container mt-4">
  <div class="row">
    @for(estudiante of estudiantes;track estudiante){
      <div class="col-md-4">
        <div class="card shadow-lg h-100 text-center">
          <img [src]="estudiante.imagen" class="card-img-top mx-auto" [alt]="estudiante.nombre">
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title text-primary">{{estudiante.nombre}}</h5>
            <p class="card-text"><strong>CARRERA:</strong> {{estudiante.carrera}}</p>
            <p class="card-text"><strong>ID:</strong> {{estudiante.id}}</p>
            <p class="card-text">{{estudiante.desc}}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>