<div class="bg-white text-black  d-flex justify-content-center align-items-center">
  <div class="d-flex align-items-center w-100 justify-content-center gap-5 p-4 flex-wrap">
    
    <!-- Imagen del carro -->
    <img [src]="carro.img" alt="{{ carro.modelo }}" class="img-fluid" style="max-width: 300px; height: auto;">

    <!-- Contenido del carro -->
    <div class="d-grid gap-2">
      <h1>{{ carro.modelo }}</h1>
      <h2>{{ carro.marca }}</h2>
      <p>Año: {{ carro.anio }}</p>
      <p>Color: {{ carro.color }}</p>
      <p>{{ carro.bio }}</p>
      <p><strong>${{ carro.precio }} pesos mexicanos</strong></p>
      <button [routerLink]="['/carros']" class="btn btn-primary">Regresar</button>
    </div>

  </div>
</div>
